/**
* Author: Yeoman
* Modify
* ==============================================================
* Version Date        Author          Desc
* --------------------------------------------------------------
* 0.0.1   2015-03-23  Tesser Paolo    cambiato padding per p
* --------------------------------------------------------------
* 0.0.2   2015-03-23  Tesser Paolo    overriding delle classi che si occupano della nav bar, cambiati i colori
* --------------------------------------------------------------
* 0.0.3   2015-03-28  Tesser Paolo    change padding-left/right from 15 to 0
* --------------------------------------------------------------
* 0.0.4   2015-04-04  Tesser Paolo    add class pointer
* --------------------------------------------------------------
* 0.0.5   2015-04-09  Tesser Paolo    modify color background of sb-admin's menus
* --------------------------------------------------------------
* 0.0.6   2015-04-12  Tesser Paolo    modify size for h1, h2, h3
* --------------------------------------------------------------
* 0.0.7   2015-04-14  Tesser Paolo    insert section for modified at Settings page
* --------------------------------------------------------------
* 0.0.8   2015-04-15  Tesser Paolo    refactor model CSS
* --------------------------------------------------------------
* 0.0.9   2015-05-14  Tesser Paolo    modify class breadcrumb of bootstrap
* --------------------------------------------------------------
* 0.0.11  2015-05-16  Tesser Paolo    insert class to manage padding inside main content
* --------------------------------------------------------------
*/

/* NORMAL TAG ***********************/
body {
    padding: 0;
}

p{
    padding-left: 0.4em;
    padding-right: 0.4em;
}

form {
    margin-bottom: 0.8em;
    margin-top: 0.9em;
}

/* block textarea resizing */
textarea {
    resize: none;
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.1em;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 0;
    padding-right: 0;
}

/************************************/

/* UTILITY TAG **********************/
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Done for support cursor in a sortable list */
.cursor-sortable{
    padding: 5px 10px;
    cursor: move;
}

.pointer {
    cursor: pointer;
}
/************************************/

/* HEADER ***************************/
/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 5px;
}

.navbar-header{
    background-color: #34495e;
}

.navbar-default .navbar-brand{
    color: #ffffff;
}
.navbar-default .navbar-brand:hover{
    color: #337ab7;
}
.navbar-default .navbar-nav > li > a{
    color: #ffffff;
}


.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
    color: #337ab7;
}

/************************************/

/* SIDEBAR **************************/
#sidebar-content .navbar-header{
    background-color: #F0F3F3;
}
/************************************/


/* ALL CONTENT PAGE *****************/
#page-wrapper {
    background-color: #F0F3F3;
}

.container-narrow > hr {
    margin: 30px 0;
}

.page-header{
    margin: 0;
    padding: 1.5em 0.7em 0.4em 0.7em;
    border-bottom: none;
    /* background-color: #78B7B6; */
}

.page-header h1{
    color: #34495e;
    padding-left: 15px;
}

.form-container{
    padding: 1em;
    /* background-color: #78B7B6; */
    box-shadow: 3px;
}

.breadcrumb{
    margin-top: 0.5em;
}

/************************************/

/* FOOTER ***************************/
/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
    clear: both;
}
/************************************/


/* OVERRIDE BOOTSTRAP ***************/
.container-fluid{
    padding: 0;
}

.btn-primary{
    background-color: #5E84AA;
    border-color: #5E84AA;
}

.btn-success[disabled]{
    background-color: #5E84AA;
    border-color: #5E84AA;
}

.btn-success{
    background-color: #5E84AA;
    border-color: #5E84AA;
}

.btn-success:hover, .btn-success:active, .btn-success:focus{
    background-color: #34495e;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    background-color: black;
    outline: none !important;
}

/* redifine row style for remove -15px margin property */
.row{
    margin-left: 0;
    margin-right: 0;
}



/************************************/




/* SETTINGS PAGE ********************/
#settings-form .col-md-2, #settings-form .col-md-3, #settings-form .col-md-4,
#settings-form .col-md-5, #settings-form .col-md-6, #settings-form .col-md-7  {
    padding-left: 0;
}

#settings-form .row {
    margin-bottom: 0.5em;
}
/************************************/


/* RECIPE PAGE **********************/
#recipes-container .col-md-6{
    padding: 1em;
}

#recipe-container{
    height: 180px;
    padding: 1em;
}

#recipe-container h1{
    font-size: 1.3em;
}

#recipe-container h2{
    font-size: 1em;
}

#recipe-container
    .col-lg-6.noleftpad
{
    padding-left: 0;
}

#recipe-container
    .col-lg-6.noleftpad
{
    padding-right: 0;
}
/*
#recipe-container
    .col-sm-12
{
    padding-left: 0;
    padding-right: 0;
}
*/
/************************************/


/* METRICS PAGE *********************/
#metrics-container .panel{
    margin-top: 0;
}

#metrics-add-list{
    margin-top: 0.8em;
}

/************************************/

/* METRICS PAGE *********************/
#favourites-container div.noleftpad{
    padding-left: 0;
}

#favourites-container div.norightpad{
    padding-right: 0;
}

/************************************/


/* RECIPE CONFIG PAGE **********************/
#metric-container{
    padding: 0.5em;
}

/************************************/


@media screen and (min-width: 992px) {

    /* RECIPE PAGE **********************/
    #recipes-container .col-md-6{
        padding: 1em;
        width: 48%;
    }

    .recipe-container{
        height: 180px;
        padding: 1em;
        margin-left: 1%;
    }
    /************************************/

}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* NORMAL TAG ************************/
    .panel{
        margin-top: 1em;
        border-radius: 0;
    }

    h1{
        font-size: 2em;
        margin: 0;
    }
    h2{
        font-size: 1.6em;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /************************************/

    /* UTILITY TAG **********************/
    /************************************/

    /* MENU *****************************/

    /* done for insert header-notification in the same line of nav-brand */
    .navbar-header{
        float: none;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 10px;
    }

    /***********************************/


    /* SIDEBAR **************************/
    .sidebar{
        margin: 0;
    }
    /************************************/


    /* ALL CONTENT PAGE *****************/
    #page-wrapper{
        padding: 0;
        /* margin: 0; */
    }


    /************************************/

    /* FOOTER ***************************/
    /************************************/



    /* OVERRIDE BOOTSTRAP ***************/
    .container{
        max-width: 960px;
    }

    /************************************/




}
