# rimuove il tracciamento della cartella nascosta .idea generata dagli IDE della JetBrains
.idea

# rimuove il tracciamento dei file nascosti .DS_Store, generati dai sistemi OS
*.DS_Store

# rimuove il tracciamento dei file nascosti Thumbs.db generati dai sistemi Windows
Thumbs.db

# rimuove il tracciamento dei file generati da LaTex durante la generazione del PDF
*.out
*.log
*.aux
*.synctex.gz

# ignorare i file delle librerie/framework e dei moduli di node
bower_components
node_modules
dist