<div class="page-header">
    <div class="container-fluid">
        <div class="row">
            <h1>Recipe Ratings</h1>
        </div>
    </div>
</div> <!-- ./page-header -->

<div class="container-fluid" id="recipes-container">
    <div class="row">
        <div class="col-lg-6 col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading">Sport Nike<span class="label label-primary pull-right">4.47</span></div>
                <div class="panel-body">
                    <p>23 users voted this recipe.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading">Sport Nike<span class="label label-primary pull-right">3.23</span></div>
                    <div class="panel-body">
                    <p>43 users voted this recipe.</p>
                    </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading">Sport Nike<span class="label label-primary pull-right">3.17</span></div>
                <div class="panel-body">
                    <p>42 users voted this recipe.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading">Sport Nike<span class="label label-primary pull-right">2.53</span></div>
                <div class="panel-body">
                    <p>7 users voted this recipe.</p>
                </div>
            </div>
        </div>
    </div>

</div> <!-- ./container-fluid -->
