<div class="page-header">
    <div class="container-fluid">
        <div class="row">
            <h1>Recipe Ratings</h1>
        </div>
    </div>
</div> <!-- ./page-header -->

<div class="container-fluid" id="recipes-container" data-ng-controller="RatingsCtrl as rc">

    <div class="row">
        <div data-ng-repeat="list in rc.listRecipes">
            <!-- TODO: insert a row each two recipe -->
            <div data-ng-switch="$index % 2 == 0">

                <div data-ng-switch-when="false">
                    <div class="col-lg-6 col-sm-12 norightpad yesleftpad">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span data-ng-bind="list.title"></span>
                                <span class="label label-primary pull-right" data-ng-bind="list.rating">{{list.rating}}</span>
                            </div>
                            <div class="panel-body">
                                <p data-ng-bind="list.desc"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-ng-switch-when="true">
                    <div class="col-lg-6 col-sm-12 noleftpad yesrightpad">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span data-ng-bind="list.title"></span>
                                <span class="label label-primary pull-right" data-ng-bind="list.rating">{{list.rating}}</span>
                            </div>
                            <div class="panel-body">
                                <p data-ng-bind="list.desc"></p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

</div> <!-- ./container-fluid -->
