<div class="page-header">
    <div class="container-fluid">
        <div class="row">
            <h1>Recipe Ratings</h1>
        </div>
    </div>
</div> <!-- ./page-header -->

<div class="container-fluid" id="recipes-container" data-ng-controller="RatingsCtrl as rc">

    <div class="row">
    <div class="col-lg-6 col-sm-12" data-ng-repeat="list in rc.listRecipes">

        <div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span data-ng-bind="list.titleRecipe"></span>
                    <span class="label label-primary pull-right" data-ng-bind="list.ratings">{{list.ratings}}</span>
                </div>
                <div class="panel-body">
                    <p data-ng-bind="list.descRecipe"></p>
                </div>
            </div>
        </div>

    </div>
    </div>

</div> <!-- ./container-fluid -->
