<div class="page-header">
    <div class="container-fluid">
        <div class="row">
            <h1>Recipe Requests</h1>
        </div>
    </div>
</div> <!-- ./page-header -->

<div class="container-fluid" id="recipes-container">
    <div class="row">
        <div class="col-lg-6 col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading">Sport Adidas</div>
                <div class="panel-body">
                    <p>Recipe about Adidas' trends</p>
                    <div class="col-xs-4 col-md-4">
                        <button class="btn btn-primary" data-ui-sref="dashboard.metrics"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> See Details</button>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <button class="btn btn-primary" data-ui-sref="dashboard.metrics"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Discard</button>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <button class="btn btn-primary" data-ui-sref="dashboard.compare"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Approve</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading">Sport Adidas</div>
                <div class="panel-body">
                    <p>Recipe about Adidas' trends</p>
                    <div class="col-xs-4 col-md-4">
                        <button class="btn btn-primary" data-ui-sref="dashboard.metrics"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> See Details</button>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <button class="btn btn-primary" data-ui-sref="dashboard.metrics"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Discard</button>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <button class="btn btn-primary" data-ui-sref="dashboard.compare"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Approve</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading">Sport Adidas</div>
                <div class="panel-body">
                    <p>Recipe about Adidas' trends</p>
                    <div class="col-xs-4 col-md-4">
                        <button class="btn btn-primary" data-ui-sref="dashboard.metrics"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> See Details</button>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <button class="btn btn-primary" data-ui-sref="dashboard.metrics"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Discard</button>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <button class="btn btn-primary" data-ui-sref="dashboard.compare"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Approve</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12" >
            <div class="panel panel-default">
                <div class="panel-heading">Sport Adidas</div>
                <div class="panel-body">
                    <p>Recipe about Adidas' trends</p>
                    <div class="col-xs-4 col-md-4">
                        <button class="btn btn-primary" data-ui-sref="dashboard.metrics"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> See Details</button>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <button class="btn btn-primary" data-ui-sref="dashboard.metrics"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Discard</button>
                    </div>
                    <div class="col-xs-4 col-md-4">
                        <button class="btn btn-primary" data-ui-sref="dashboard.compare"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Approve</button>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- ./row -->


</div> <!-- ./container-fluid -->
