<div class="page-header">
    <div class="container-fluid">
        <div class="row">
            <h1>Users Management</h1>
        </div>
    </div>
</div> <!-- ./page-header -->

<div class="container-fluid" id="users-config-container" data-ng-controller="UsersConfigCtrl as uc">
    <div class="row" data-ng-show="uc.errorChangePermission">
        <div class="col-md-12">
            <p class="alert-danger">Failed to change permission. Try again later!</p>
        </div>
    </div>

    <div class="row">
        <div data-ng-repeat="user in uc.usersList">
            <div data-ng-switch="$index % 2 == 0">

                <div data-ng-switch-when="false">
                    <div class="col-lg-6 col-sm-12 norightpad yesleftpad">
                        <div class="panel panel-default">
                            <div class="panel-heading"><span class="label label-primary" data-ng-bind="user.permission"></span> <span data-ng-bind="user.email"></span></div>
                            <div class="panel-body">
                                <div data-ng-if="user.permission === 'user'">
                                    <div class="col-xs-12 col-md-3 col-lg-5">
                                        <button class="btn btn-primary"
                                                data-ng-click="uc.editPermissions(user.username, $index, 'admin')">
                                            Change to Admin
                                        </button>
                                    </div>
                                </div>
                                <div data-ng-if="user.permission === 'admin'">
                                    <div class="col-xs-12 col-md-3 col-lg-5">
                                        <button class="btn btn-primary"
                                                data-ng-click="uc.editPermissions(user.username, $index, 'user')">
                                            Change to User
                                        </button>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3 col-lg-5">
                                    <button class="btn btn-red" data-ng-click="uc.deleteAccount(user.username, $index)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div data-ng-switch-when="true">
                    <div class="col-lg-6 col-sm-12 noleftpad yesrightpad">
                        <div class="panel panel-default">
                            <div class="panel-heading"><span class="label label-primary" data-ng-bind="user.permission"></span> <span data-ng-bind="user.email"></span></div>
                            <div class="panel-body">
                                <div data-ng-if="user.permission === 'user'">
                                    <div class="col-xs-12 col-md-3 col-lg-5">
                                        <button class="btn btn-primary"
                                                data-ng-click="uc.editPermissions(user.username, $index, 'admin')">
                                            Change to Admin
                                        </button>
                                    </div>
                                </div>
                                <div data-ng-if="user.permission === 'admin'">
                                    <div class="col-xs-12 col-md-3 col-lg-5">
                                        <button class="btn btn-primary"
                                                data-ng-click="uc.editPermissions(user.username, $index, 'user')">
                                            Change to User
                                        </button>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-3 col-lg-5">
                                    <button class="btn btn-red" data-ng-click="uc.deleteAccount(user.username, $index)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>

        </div>
    </div>
</div> <!-- ./container-fluid -->