<div class="page-header">
    <div class="container-fluid">
        <div class="row">
            <h1>Favourites</h1>
        </div>
    </div>
</div> <!-- ./page-header -->

<div id="favourites-container" class="container-fluid" data-ng-controller="FavouritesCtrl as fc">
    <div class="row">
        <div class="col-lg-12 col-sm-12 noleftpad norightpad" id="line-chart">
            <div class="panel panel-default">
                <div class="panel-heading">Line Chart</div>
                <div class="panel-body">
                    <canvas class="chart chart-line chart-xl" id="line"
                            data="fc.line.data" labels="fc.line.labels" legend="true"
                            click="line.onClick" series="line.series">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 noleftpad norightpad" id="bar-chart">
            <div class="panel panel-default">
                <div class="panel-heading">Bar Chart</div>
                <div class="panel-body">
                    <canvas class="chart chart-bar" id="bar"
                            data="fc.bar.data" labels="fc.bar.labels" series="fc.bar.series"
                            options="fc.bar.options">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12 noleftpad norightpad" id="doughnut-chart">
            <div class="panel panel-default">
                <div class="panel-heading">Doughnut Chart</div>
                <div class="panel-body">
                    <canvas class="chart chart-doughnut chart-xs" id="doughnut"
                            data="fc.donut.data" labels="fc.donut.labels" legend="false">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12 noleftpad norightpad" id="radar-chart">
            <div class="panel panel-default">
                <div class="panel-heading">Radar Chart</div>
                <div class="panel-body">
                    <canvas class="chart chart-radar" id="area"
                            data="fc.radar.data" labels="fc.radar.labels" click="onClick">
                    </canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12 noleftpad norightpad" id="pie-chart">
            <div class="panel panel-default">
                <div class="panel-heading">Pie Chart</div>
                <div class="panel-body">
                    <canvas class="chart chart-pie chart-xs" id="pie"
                            data="fc.pie.data" labels="fc.pie.labels">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12 noleftpad norightpad" id="polar area-chart">
          <div class="panel panel-default">
            <div class="panel-heading">Polar Area Chart</div>
            <div class="panel-body">
              <canvas class="chart chart-polar-area" id="polar"
                      data="fc.polar.data" labels="fc.polar.labels">
              </canvas>
            </div>
          </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12 noleftpad norightpad" id="base-chart">
            <div class="panel panel-default">
                <div class="panel-heading">Dynamic Chart</div>
                <div class="panel-body">
                    <canvas class="chart chart-base" id="base"
                            chart-type="fc.dynamic.type" data="fc.dynamic.data"
                            labels="fc.dynamic.labels" legend="true">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div ng-bind-html="fc.testGraph">

    </div>
</div>