<div class="page-header">
    <div class="container-fluid">
        <div class="row">
            <h1>Favourites</h1>
        </div>
    </div>
</div> <!-- ./page-header -->

<div id="favourites-container" class="container-fluid" data-ng-controller="FavouritesCtrl as fc">
    <div class="row">
        <div class="col-lg-12 col-sm-12 noleftpad norightpad" id="base-chart">
            <div class="panel panel-default">
                <div class="panel-heading" ng-bind="fc.testName"></div>
                <div class="panel-body">
                    <div ng-bind-html="fc.testGraph">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>