<div class="page-header" data-ng-controller="MetricsCtrl as mc">
    <div class="container-fluid">
        <div class="row">
            <h1>List of the metrics for <span data-ng-bind="mc.titleRecipe"></span> recipe</h1>
        </div>
    </div>
</div> <!-- ./page-header -->

<div id="metrics-container" class="container-fluid" data-ng-controller="MetricsCtrl as mc">

    <div class="row">
        <ol class="breadcrumb">
            <li><a data-ui-sref="dashboard.recipe">Recipe</a></li>
            <li class="active">Metrics</li>
        </ol>
    </div>

    <tabset>

            <tab data-ng-repeat="type in mc.metricsType" heading="{{ type.value }}" active="tab.active" disable="tab.disable">

                <div class="panel">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                                <tr data-ng-repeat="metric in mc.metrics">
                                    <td data-ng-if="metric.category === type.key" data-ng-bind="metric.id"></td>
                                    <td data-ng-if="metric.category === type.key" data-ng-bind="metric.category_type"></td>
                                    <td data-ng-if="metric.category === type.key">
                                        <button class="btn btn-primary" data-ui-sref="dashboard.charts({cat: type.value, type: metric.category_type ,metric: metric.id})">Show charts</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </tab>

    </tabset>

</div> <!-- ./container-fluid -->