<div class="page-header">
    <div class="container-fluid">
        <div class="row">
            <h1>Token Management</h1>
        </div>
    </div>
</div> <!-- ./page-header -->

<div class="container-fluid"> <!-- container fluid -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">

                <span class="sr-only">From this page you can request a token to access our APIs.</span>

                <!-- TokenConfigCtrl -->
                <form name="getTokenForm" method="post" data-ng-controller="TokenConfigCtrl as tcc" data-ng-submit="tcc.getToken" >


                    <button type="submit" class="btn btn-lg btn-block btn-success">
                        Get your token!
                    </button>

                    <br />
                    <p class="text-center text-info" data-ng-disabled="tcc.nessunToken"> Your token is: </p>

                </form>
                <!-- end LoginCtrl -->
            </div>
        </div>
    </div>
</div> <!-- end container fluid -->

