<div class="page-header">
    <div class="container-fluid">
        <div class="row">
            <h1>Token Management</h1>
        </div>
    </div>
</div> <!-- ./page-header -->

<div class="container-fluid"> <!-- container fluid -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">

                <span class="sr-only">From this page you can request a token to access our APIs.</span>

                <!-- TokenConfigCtrl -->
                <form name="getTokenForm" method="post"
                      data-ng-controller="TokenConfigCtrl as tcc">

                    <div data-ng-if="tcc.accessToken !== '' ">
                        <button type="submit" class="btn btn-lg btn-block btn-success"
                                data-ng-click="tcc.deleteAccessToken()">
                            Delete your token!
                        </button>
                    </div>
                    <div data-ng-if="tcc.accessToken === ''">
                        <button type="submit" class="btn btn-lg btn-block btn-success"
                                data-ng-click="tcc.getAccessToken()">
                            Get your token!
                        </button>
                    </div>

                    <br />
                    <p class="text-center text-info"> Your token is: <span data-ng-bind="tcc.accessToken"></span></p>

                </form>
                <!-- end TokenConfigCtrl -->
            </div>
        </div>
    </div>

    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <h1>Available REST services</h1>
            </div>
        </div>
    </div>


    <div ng-controller="TokenConfigCtrl as tcc">


        <div class="panel panel-default" data-ng-repeat="service in tcc.restServices">
            <div class="panel-heading"><span class="label label-primary" data-ng-bind="service.type"></span>
                <code data-ng-bind="'~/' + service.req"></code>
            </div>
            <div class="panel-body">
                <p data-ng-bind="service.desc"></p>
            </div>
        </div>
    </div>
</div> <!-- end container fluid -->

