<div class="page-header">
    <div class="container-fluid">
        <div class="row">
            <h1>Grafici preferiti</h1>
        </div>
    </div>
</div> <!-- ./page-header -->

<div id="recipes-container" class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-sm-12" id="line-chart" data-ng-controller="FavouritesCtrl">
            <div class="panel panel-default">
                <div class="panel-heading">Line Chart</div>
                <div class="panel-body">
                    <canvas class="chart chart-line chart-xl" id="line"
                            data="line.data" labels="line.labels" legend="true"
                            click="line.onClick" series="line.series">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12" id="bar-chart" data-ng-controller="FavouritesCtrl">
            <div class="panel panel-default">
                <div class="panel-heading">Bar Chart</div>
                <div class="panel-body">
                    <canvas class="chart chart-bar" id="bar"
                            data="bar.data" labels="bar.labels" series="bar.series"
                            options="bar.options">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-12" id="doughnut-chart" data-ng-controller="FavouritesCtrl">
            <div class="panel panel-default">
                <div class="panel-heading">Doughnut Chart</div>
                <div class="panel-body">
                    <canvas class="chart chart-doughnut chart-xs" id="doughnut"
                            data="donut.data" labels="donut.labels" legend="false">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12" id="radar-chart" data-ng-controller="FavouritesCtrl">
            <div class="panel panel-default">
                <div class="panel-heading">Radar Chart</div>
                <div class="panel-body">
                    <canvas class="chart chart-radar" id="area"
                            data="radar.data" labels="radar.labels" click="onClick">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12" id="pie-chart" data-ng-controller="FavouritesCtrl">
            <div class="panel panel-default">
                <div class="panel-heading">Pie Chart</div>
                <div class="panel-body">
                    <canvas class="chart chart-pie chart-xs" id="pie"
                            data="pie.data" labels="pie.labels">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12" id="polar area-chart" data-ng-controller="FavouritesCtrl">
          <div class="panel panel-default">
            <div class="panel-heading">Polar Area Chart</div>
            <div class="panel-body">
              <canvas class="chart chart-polar-area" id="polar"
                      data="polar.data" labels="polar.labels">
              </canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12" id="base-chart" data-ng-controller="FavouritesCtrl">
            <div class="panel panel-default">
                <div class="panel-heading">Dynamic Chart</div>
                <div class="panel-body">
                    <canvas class="chart chart-base" id="base"
                            chart-type="dynamic.type" data="dynamic.data"
                            labels="dynamic.labels" legend="true">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>