<div class="page-header">
    <div class="container-fluid">
        <div class="text-center">
            <h1>About us</h1>
        </div>
    </div>
</div> <!-- ./page-header -->

<div class="container-fluid">

        <div class="col-md-offset-1 col-md-10" >
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>We are the group MashUp, and we developed this software for the Software Engineering course, during the third
                    year of the Computer Science degree at the University of Padua.</p>
                    <p>MashUp is:<br/>
                    Carnovalini Filippo<br/>
                    Ceccon Lorenzo<br/>
                    Cusinato Giacomo<br/>
                        Faccin Nicola<br/>
                        Roetta Marco<br/>
                        Santacatterina Luca<br/>
                    Tesser Paolo<br/></p>
                    <p>Big Data Monitoring System was proposed by Zing.srl, in the person of David Santucci</p>
                    <p class="text-center"><a data-ui-sref="login">Back to the login page</a></p>
                </div>
            </div>
        </div>


</div> <!-- ./container-fluid -->