<div class="page-header">
    <div class="container-fluid">
        <div class="text-center">
            <h1>Chi siamo?</h1>
        </div>
    </div>
</div> <!-- ./page-header -->

<div class="container-fluid">

        <div class="col-md-offset-1 col-md-10" >
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Siamo il gruppo MashUp e abbiamo realizzato questo software come progetto per il corso
                        di Ingegneria del <span lang="en">Software</span>
                    del terzo anno della laurea in Informatica dell'Università degli Studi di Padova.</p>
                    <p>Il <span lang="en">software Big Data Monitoring System</span> è stato proposto da Zing.srl</p>
                    <br/>
                    <p class="text-center"><a data-ui-sref="login">Torna alla pagina di <span lang="en">login</span></a></p>
                </div>
            </div>
        </div>


</div> <!-- ./container-fluid -->