<div class="page-header">
    <div class="container-fluid">
        <div class="text-center">
            <h1>Servizi REST disponibili</h1>
        </div>
    </div>
</div> <!-- ./page-header -->

<div class="container-fluid" data-ng-controller="ApiDocsCtrl as ac">

    <div class="col-md-offset-1 col-md-10" >

        <div class="panel panel-default">
            <div class="panel-body text-center text-muted">
                <p>REST REST REST REST<br/>
                Show the world this manifest<br/>
                Leave those people, they're obsessed<br/>
                With the services called REST<br/>
                REST REST REST REST</p>
                <p>________________________</p>
                <p>Torna alla pagina di <a data-ui-sref="login">Login</a></p>

            </div>
        </div>

        <div class="panel panel-default" data-ng-repeat="service in ac.restServices">
            <div class="panel-heading"><span class="label label-primary" data-ng-bind="service.type"></span> <code data-ng-bind="'~/' + service.req"></code></div>
            <div class="panel-body">
                <p data-ng-bind="service.desc"></p>
            </div>
        </div>

    </div>
</div> <!-- ./container-fluid -->