<div class="page-header">
    <div class="container-fluid">
        <div class="text-center">
            <h1>Avaiable REST services</h1>
        </div>
    </div>
</div> <!-- ./page-header -->

<div class="container-fluid" data-ng-controller="ApiDocsCtrl as ac">

    <div class="col-md-offset-1 col-md-10" >

        <div class="panel panel-default">
            <div class="panel-body text-center text-muted">
                <p>This is a list of the public REST services we offer. You can access these data via our web-app, but if
                    you want a different interface or want to integrate our data in your own application, you'll find these services useful. </p>
                <p>________________________</p>
                <p>Back to the <a data-ui-sref="login">login page</a></p>
            </div>
        </div>

        <div class="panel panel-default" data-ng-repeat="service in ac.restServices">
            <div class="panel-heading"><span class="label label-primary" data-ng-bind="service.type"></span> <code data-ng-bind="'~/' + service.req"></code></div>
            <div class="panel-body">
                <p data-ng-bind="service.desc"></p>
            </div>
        </div>

    </div>
</div> <!-- ./container-fluid -->