<div class="page-header">
    <div class="container-fluid">
        <div class="text-center">
            <h1>Servizi REST disponibili</h1>
        </div>
    </div>
</div> <!-- ./page-header -->

<div class="container-fluid">

    <div class="col-md-offset-1 col-md-10" >

        <div class="panel panel-default">
            <div class="panel-body text-center text-muted">
                <p>REST REST REST REST<br/>
                Yell the world this manifest<br/>
                Leave those people, they're obsessed<br/>
                With the services called REST<br/>
                REST REST REST REST</p>
                <p>________________________</p>
                <p>Torna alla pagina di <a data-ui-sref="login">Login</a></p>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">/recipes/<em>{recipe-id}</em>/metrics</div>
            <div class="panel-body">
                <p>Restituisce la liste delle metriche di una ricetta</p>
            </div>
        </div>

    </div>
</div> <!-- ./container-fluid -->